#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.card{
  border-radius: 12px;
  box-shadow: 0 0 3px #b1b2b2aa;
  background: white;
  transition: all 0.15s linear;
  min-width: 274px;
}
.card:hover{
  scale: 1.05;
  box-shadow: 5px 5px 15px #b1b2b2aa;
}